## Criação de Portfólio - Thai House
Casa de eventos do grupo koh Pee Pee

Objetivo:
   * Trabalhar com dados reais, coletados sem organização e padronização de preenchimento prévio
   * Fazer a limpeza e organização dos dados
   * Conhecer os dados
   * Fazer a criação de alguns gráficos
   * Testar e aprender novos comandos

In [1]:
# principais bibliotecas
import pandas as pd
import numpy as np
from datetime import datetime
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# lendo arquivo excel com várias abas
caminho = 'rel_prog_eventos_TH_2022.xlsx'

df_full = pd.read_excel(caminho, sheet_name=None) # None busta todas as abas

In [3]:
display(df_full)

{'Antigos Contatos':    ESPAÇO EVENTOS THAI HOUSE       Unnamed: 1      Unnamed: 2   Unnamed: 3  \
 0                        NaN              NaN             NaN          NaN
 1                        NaN              NaN             NaN          NaN
 2           ANTIGOS CONTATOS              NaN             NaN          NaN
 3             Data do Evento  Data do contato  Tipo de evento  Valor total
 4        2018-06-12 00:00:00              NaN       1º evento      21450.4
 ..                       ...              ...             ...          ...
 91       2019-01-25 00:00:00              NaN      casamento           NaN
 92       2019-01-18 00:00:00              NaN       formatura          NaN
 93       2019-12-26 00:00:00              NaN     aniversário          NaN
 94       2019-02-26 00:00:00              NaN         15 anos          NaN
 95       2018-11-30 00:00:00              NaN     empresarial          NaN

        Unnamed: 4                                         Unnamed: 5
 0             NaN                                                NaN
 1             NaN                                                NaN
 2             NaN                                                NaN
 3   Nº de Pessoas                                         Observação
 4      78 pessoas  1 mesa de 8  lugares+ 5 mesas de 4 lugares + 2...
 ..            ...                                                ...
 91             50                                                NaN
 92             45                              optou por outro local
 93             50  teve muitos cancelamentos de convidados e opta...
 94             20                              optou por outro lugar
 95            NaN  optaram por outro local devido a valor de R$ 1...

 [96 rows x 6 columns],
 'março':   ESPAÇO EVENTOS THAI  HOUSE           Unnamed: 1       Unnamed: 2  \
 0                        NaN                  NaN              NaN
 1                        NaN                  NaN              NaN
 2                      MARÇO                  NaN              NaN
 3             Data do Evento      Data do contato   Tipo de evento
 4        2022-03-15 00:00:00  2022-01-04 00:00:00  jantar/palestra
 5        2022-03-26 00:00:00  2022-03-08 00:00:00        Formatura

     Unnamed: 3     Unnamed: 4  \
 0          NaN            NaN
 1          NaN            NaN
 2          NaN            NaN
 3  Valor total  Nº de Pessoas
 4            ?             80
 5   A definir          80/100

                                           Unnamed: 5
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                         Observação
 4  Ela está estudando locais em todo o território...
 5  Encaminhei as opções de cardapio, a cliente va...  ,
 'abril':             Data contato          Etapa  \
 0       EVENTOS FECHADOS            NaN
 1    2022-02-09 00:00:00      Realizado
 2    2022-04-09 00:00:00      Realizado
 3  EVENTOS EM NEGOCIAÇÃO            NaN
 4    2022-04-17 00:00:00  Em negociação
 5   EVENTOS NÃO FECHADOS            NaN
 6    2022-04-13 00:00:00    Não fechado
 7    2022-04-27 00:00:00    Não fechado
 8    2022-04-07 00:00:00    Não fechado
 9    2022-04-28 00:00:00    Não fechado

                                    Situação Data Evento  \
 0                                       NaN         NaT
 1                                 Realizado  2022-04-11
 2                                 Realizado  2022-04-28
 3                                       NaN         NaT
 4  Em negociação a data esta sendo estudada         NaT
 5                                       NaN         NaT
 6                             Não realizado  2022-03-22
 7                             Não realizado  2022-03-17
 8                             Não realizado  2022-04-07
 9                             Não realizado  2022-04-16

                                Tipo  Convidados  Cardápio  Preço   Sinal  \
 0                               NaN         NaN       NaN    NaN     NaN
 1                               NaN        40.0       NaN  220.0  1200.0
 2                               NaN        30.0       NaN  230.0     NaN
 3                               NaN         NaN       NaN    NaN     NaN
 4                   Jantar/palestra        30.0       NaN  230.0     NaN
 5                               NaN         NaN       NaN    NaN     NaN
 6                  Finger /coquetel        50.0       NaN    NaN     NaN
 7  jantar/aula novas especialidades        90.0       NaN    NaN     NaN
 8               Jantar com palestra        90.0       NaN    NaN     NaN
 9                            Jantar        75.0       NaN    NaN     NaN

    Valor total  Saldo restante  Valor Extra  Forma de pagamento  \
 0          NaN             NaN          NaN                 NaN
 1       9787.0          8587.0        987.0                 NaN
 2       6900.0          6900.0          NaN                 NaN
 3          NaN             NaN          NaN                 NaN
 4       6900.0          6900.0          NaN                 NaN
 5          NaN             NaN          NaN                 NaN
 6          0.0             0.0          NaN                 NaN
 7          0.0             0.0          NaN                 NaN
 8          0.0             0.0          NaN                 NaN
 9          0.0             0.0          NaN                 NaN

                                           Observação
 0                                                NaN
 1  Fez uma pré-reserva, quer serviço desde a entr...
 2  Aula ao vivo, vai precisar de aparelhos de aúd...
 3                                                NaN
 4  Quantidade de pessoas:\n 30 pax não fecharam a...
 5                                                NaN
 6  Welcome drink, com vinhos e espumante, um somm...
 7  Servir finger foods, nada de empratados. Os co...
 8  Mesas redondas, com toalhas,com disponibilidet...
 9  Precisam de uma sala que acomode todos os conv...  ,
 'maio':              Data contato          Etapa  \
 0        EVENTOS FECHADOS            NaN
 1     2022-04-17 00:00:00      Realizado
 2     2022-05-14 00:00:00      Realizado
 3                     NaN      Realizado
 4     2022-04-19 00:00:00      Realizado
 5                     NaN            NaN
 6                     NaN            NaN
 7                     NaN            NaN
 8                     NaN            NaN
 9   EVENTOS EM NEGOCIAÇÃO            NaN
 10    2022-04-25 00:00:00  Em negociação
 11                    NaN            NaN
 12   EVENTOS NÃO FECHADOS            NaN
 13    2022-04-20 00:00:00    Não Fechado
 14    2022-04-29 00:00:00    Não Fechado
 15    2022-05-05 00:00:00    Não Fechado

                                      Situação Data Evento  \
 0                                         NaN         NaT
 1                                   Realizado  2022-05-11
 2                                   Realizado  2022-05-19
 3                                   Realizado  2022-05-26
 4                                     Fechado  2022-05-28
 5                                         NaN         NaT
 6                                         NaN         NaT
 7                                         NaN         NaT
 8                                         NaN         NaT
 9                                         NaN         NaT
 10  Orçamento enviado/ não retorna o contato.  2022-05-27
 11                                        NaN         NaT
 12                                        NaN         NaT
 13  será em uma nova data, ainda não definida  2022-05-17
 14                                  Cancelado  2022-05-31
 15                      Optou por outro local  2022-05-17

                      Tipo  Convidados                    Cardápio  Preço  \
 0                     NaN         NaN                         NaN    NaN
 1                  Almoço        40.0                 Menu Phuket  220.0
 2         Jantar/Palestra        30.0                 Menu Phuket  255.0
 3                  Jantar        25.0                   Menu Krab  220.0
 4   Welcome coffee/almoço        51.0  Wellcome Coffee\nMenu Krab  250.0
 5                     NaN         NaN                         NaN    NaN
 6                     NaN         NaN                         NaN    NaN
 7                     NaN         NaN                         NaN    NaN
 8                     NaN         NaN                         NaN    NaN
 9                     NaN         NaN                         NaN    NaN
 10                 Jantar        23.0                   A definir    NaN
 11                    NaN         NaN                         NaN    NaN
 12                    NaN         NaN                         NaN    NaN
 13                 Jantar        25.0                         NaN  265.0
 14                 Jantar        25.0                         NaN  250.0
 15                 Almoço        15.0            Menu Koh Pee Pee  265.0

      Sinal  Valor total Saldo restante  Valor Extra  \
 0      NaN          NaN            NaN          NaN
 1   2415.0       9066.8         6651.8        266.8
 2      NaN       7650.0           7650          NaN
 3      NaN       5500.0                         NaN
 4      NaN      12750.0          12750          NaN
 5      NaN          NaN            NaN          NaN
 6      NaN          NaN            NaN          NaN
 7      NaN          NaN            NaN          NaN
 8      NaN          NaN            NaN          NaN
 9      NaN          NaN            NaN          NaN
 10     NaN          0.0              0          NaN
 11     NaN          0.0              0          NaN
 12     NaN          NaN            NaN          NaN
 13     NaN       6625.0           6625          NaN
 14     NaN       6250.0           6250          NaN
 15     NaN       3975.0           3975          NaN

                          Forma de pagamento  \
 0                                       NaN
 1          Entrada/ restante faturado 22/05
 2         Cartão de crédito final do evento
 3          Cartão de creditofinal do evento
 4
 5                                       NaN
 6                                       NaN
 7                                       NaN
 8                                       NaN
 9                                       NaN
 10                                      NaN
 11                                      NaN
 12                                      NaN
 13                                      NaN
 14  Pagamento com cartão no final do evento
 15                                A definir

                                            Observação
 0                                                 NaN
 1   Almoço inicio as 12:00 horas, mesas de seis  e...
 2   Jantar com palestra, o cliente solicitou equip...
 3   Jantar para 25 pessoas, três dias  antes  do e...
 4   Welcome coffeee às 10:00horas, as 10:30horas s...
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Jantar, necessita  de audio , telão, microfone...
 11                                                NaN
 12                                                NaN
 13  O cliente não poderá vir na data agendada, que...
 14  O gerente quer pagar o evento e a reserva  sob...
 15  15 pessoas, almoço às 12:00 horas .\nMontagem ...  ,
 'junho':              Data contato          Etapa  \
 0        EVENTOS FECHADOS            NaN
 1     2022-05-13 00:00:00        Fechado
 2                     NaN            NaN
 3     2022-04-29 00:00:00        Fechado
 4     2022-05-26 00:00:00        Fechado
 5                     NaN            NaN
 6                     NaN            NaN
 7                     NaN            NaN
 8                     NaN            NaN
 9   EVENTOS EM NEGOCIAÇÃO            NaN
 10    2022-04-27 00:00:00  Em negociação
 11    2022-05-04 00:00:00  Em negociação
 12   EVENTOS NÃO FECHADOS            NaN
 13    2022-01-24 00:00:00    Não fechado
 14    2022-04-25 00:00:00    Não fechado
 15    2022-05-20 00:00:00    Não fechado
 16    2022-05-19 00:00:00    Não fechado
 17                    NaN            NaN
 18                    NaN            NaN

                                              Situação Data Evento  \
 0                                                 NaN         NaT
 1                                                 NaN  2022-06-08
 2                                                 NaN         NaT
 3                                                 NaN  2022-06-21
 4                                                 NaN  2022-06-28
 5                                                 NaN         NaT
 6                                                 NaN         NaT
 7                                                 NaN         NaT
 8                                                 NaN         NaT
 9                                                 NaN         NaT
 10                              Encaminhado orçamento  2022-06-24
 11                              Encaminhado orçamento  2022-06-30
 12                                                NaN         NaT
 13  Adiou a formatura, assim que tiver a nova  ent...  2022-06-24
 14  Evento será em Outubro, não tem definição de d...         NaT
 15            Cancelado problemas internos da empresa  2022-06-23
 16                                 Não fechou conosco  2022-06-22
 17                                                NaN         NaT
 18                                                NaN         NaT

                    Tipo  Convidados     Cardápio  Preço  Sinal  Valor total  \
 0                   NaN         NaN          NaN    NaN    NaN          NaN
 1       Jantar/Palestra        20.0    Menu Krab  225.0    NaN       4500.0
 2                   NaN         NaN          NaN    NaN    NaN          NaN
 3       Jantar/Palestra        30.0    Menu Krab  225.0    NaN       6750.0
 4       Jantar/Palestra        20.0  Menu Phuket  250.0    NaN       5000.0
 5                   NaN         NaN          NaN    NaN    NaN          0.0
 6                   NaN         NaN          NaN    NaN    NaN          0.0
 7                   NaN         NaN          NaN    NaN    NaN          0.0
 8                   NaN         NaN          NaN    NaN    NaN          0.0
 9                   NaN         NaN          NaN    NaN    NaN          NaN
 10  Coffee break/almoço        30.0    A definir    NaN    NaN          0.0
 11     Jantar/ Palestra        20.0  Menu Phuket  280.0    NaN       5600.0
 12                  NaN         NaN          NaN    NaN    NaN          NaN
 13            Formatura       100.0          NaN  220.0    NaN      22000.0
 14      Jantar/palestra        35.0          NaN    NaN    NaN          0.0
 15               jantar        25.0    A definir    NaN    NaN          0.0
 16   Jantar corporativo        50.0    A definir    NaN    NaN          0.0
 17                  NaN         NaN          NaN    NaN    NaN          NaN
 18                  NaN         NaN          NaN    NaN    NaN          0.0

     Saldo restante  Valor Extra  \
 0              NaN          NaN
 1           4500.0          NaN
 2              NaN          NaN
 3           6750.0          NaN
 4           5000.0          NaN
 5              0.0          NaN
 6              0.0          NaN
 7              0.0          NaN
 8              0.0          NaN
 9              NaN          NaN
 10             0.0          NaN
 11          5600.0          NaN
 12             NaN          NaN
 13         22000.0          NaN
 14             0.0          NaN
 15             0.0          NaN
 16             0.0          NaN
 17             NaN          NaN
 18             0.0          NaN

                                    Forma de pagamento  \
 0                                                 NaN
 1     Pagamento será com cartão no  final do evento.
 2                                                 NaN
 3   O pagamento será faturado em 17 de Junho valor...
 4   O pagamento será com cartão de crédito no fina...
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN

                                            Observação
 0                                                 NaN
 1   Jantar com uma palestra médica. Será formaliza...
 2                                                 NaN
 3   Contrato fechado para 30 pessoas. Ficou conbin...
 4   Jantar com palestra, cliente necessita de equi...
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Coffee break e almoço para 30 pessoas, os conv...
 11  Jantar com uma  palestra ao Vivo,  equipamento...
 12                                                NaN
 13  Quer música ao vivo, até às 3h da manhã, saxof...
 14  Jantar para 35 pessoas, formato banquete, nece...
 15  Jantar com uma palestra médica. Será formaliza...
 16  Jantar corporativo para 50 pessoas, solicitado...
 17                                                NaN
 18                                                NaN  ,
 'julho':              Data contato          Etapa  \
 0        EVENTOS FECHADOS            NaN
 1     2022-05-26 00:00:00        Fechado
 2     2022-05-18 00:00:00        Fechado
 3                     NaN            NaN
 4                     NaN            NaN
 5                     NaN            NaN
 6                     NaN            NaN
 7                     NaN            NaN
 8                     NaN            NaN
 9   EVENTOS EM NEGOCIAÇÃO            NaN
 10    2022-06-01 00:00:00  Em negociação
 11    2022-06-03 00:00:00  Em negociação
 12                    NaN            NaN
 13                    NaN            NaN
 14   EVENTOS NÃO FECHADOS            NaN
 15    2022-05-16 00:00:00    Não fechado
 16    2022-05-12 00:00:00    Não fechado
 17    2022-05-20 00:00:00    Não fechado
 18                    NaN            NaN
 19                    NaN            NaN
 20                    NaN            NaN

                                              Situação Data Evento  \
 0                                                 NaN         NaT
 1                       Aguadando assinatura contrato  2022-07-28
 2                       Aguadando assinatura contrato  2022-07-21
 3                                                 NaN         NaT
 4                                                 NaN         NaT
 5                                                 NaN         NaT
 6                                                 NaN         NaT
 7                                                 NaN         NaT
 8                                                 NaN         NaT
 9                                                 NaN         NaT

In [4]:
# descobrindo os nomes das sheets
for i, k in enumerate(df_full):
    print(f'{k}')

Antigos Contatos
março
abril
maio
junho
julho
agosto
setembro
outubro
novembro
dezembro

In [5]:
# lendo todas as 'sheets' do arquivo e salvando como dataframes unicos
df_antigo = pd.read_excel(caminho, sheet_name = 'Antigos Contatos', header= 4)

#  DataFrame Administração Anterior

In [6]:
df_antigo = df_antigo.drop_duplicates()

In [7]:
df_antigo

,Data do Evento,Data do contato,Tipo de evento,Valor total,Nº de Pessoas,Observação
0,2018-06-12 00:00:00,NaN,1º evento,21450.4,78 pessoas,1 mesa de 8 lugares+ 5 mesas de 4 lugares + 25 mesas de 2 lugares
1,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-12 00:00:00,NaN,empresarial,4631,25 pessoas,"cardapio Krab KPP R$ 175,00 por pessoa c/ espumante (1 garrafa a cada 3 pessoas)"
3,2018-07-19 00:00:00,NaN,empresarial,12100,55 pessoas,"Menu Koh Paghan Finger R$ 185,00 e Pct bebidas Mali com drink Tom Yam Siam. Degustação 29/05."
4,2018-07-26 00:00:00,NaN,inauguração,NaN,NaN,NaN
...,...,...,...,...,...,...
87,2019-01-25 00:00:00,NaN,casamento,NaN,50,NaN
88,2019-01-18 00:00:00,NaN,formatura,NaN,45,optou por outro local
89,2019-12-26 00:00:00,NaN,aniversário,NaN,50,teve muitos cancelamentos de convidados e optaram em não comemorar
90,2019-02-26 00:00:00,NaN,15 anos,NaN,20,optou por outro lugar
91,2018-11-30 00:00:00,NaN,empresarial,NaN,NaN,"optaram por outro local devido a valor de R$ 160,00 por pessoa"

In [8]:
# Tratando colunas

df_antigo.columns = df_antigo.columns.str.lower().str.replace(' ', '_')

In [9]:
df_antigo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 91
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_do_evento   74 non-null     object
 1   data_do_contato  14 non-null     object
 2   tipo_de_evento   69 non-null     object
 3   valor_total      39 non-null     object
 4   nº_de_pessoas    69 non-null     object
 5   observação       68 non-null     object
dtypes: object(6)
memory usage: 4.2+ KB

In [10]:
# renomeia colunas
dicio = {'data_do_evento': 'data_evento',
         'data_do_contato': 'data_contato',
         'tipo_de_evento': 'tipo',
         'cliente': 'cliente',
         'contato': 'contato', 
         'valor_total': 'valor_total',
         'nº_de_pessoas': 'num_convidados',
         'observação': 'observação'}
df_antigo.rename(columns = dicio, inplace=True)
df_antigo.columns

Index(['data_evento', 'data_contato', 'tipo', 'valor_total', 'num_convidados',
       'observação'],
      dtype='object')

In [11]:
# excluindo linhas completamente nulas
df_antigo = df_antigo.dropna(how='all')

In [12]:
df_antigo.head()

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
0,2018-06-12 00:00:00,NaN,1º evento,21450.4,78 pessoas,1 mesa de 8 lugares+ 5 mesas de 4 lugares + 25 mesas de 2 lugares
2,2018-07-12 00:00:00,NaN,empresarial,4631,25 pessoas,"cardapio Krab KPP R$ 175,00 por pessoa c/ espumante (1 garrafa a cada 3 pessoas)"
3,2018-07-19 00:00:00,NaN,empresarial,12100,55 pessoas,"Menu Koh Paghan Finger R$ 185,00 e Pct bebidas Mali com drink Tom Yam Siam. Degustação 29/05."
4,2018-07-26 00:00:00,NaN,inauguração,NaN,NaN,NaN
6,2018-08-03 00:00:00,NaN,empresarial,7213.5,35 pessoas,"Menu Krab KPP R$ 195,00 por pessoa com refri c/ vinho (1 garrafa a cada 3 pessoas)"

### Identificando e corrigindo colunas

In [13]:
df_antigo = df_antigo.drop([4])

### Transformando colunas datas

In [14]:
df_antigo['data_contato'] = pd.to_datetime(df_antigo['data_contato'], errors= 'coerce')
df_antigo['data_evento'] = pd.to_datetime(df_antigo['data_evento'], errors= 'coerce')

In [15]:
df_antigo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 91
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     66 non-null     datetime64[ns]
 1   data_contato    8 non-null      datetime64[ns]
 2   tipo            68 non-null     object
 3   valor_total     39 non-null     object
 4   num_convidados  69 non-null     object
 5   observação      68 non-null     object
dtypes: datetime64[ns](2), object(4)
memory usage: 4.0+ KB

In [16]:
# Identificar datas nulas
df_antigo[df_antigo['data_evento'].isnull()]

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
46,NaT,NaT,NaN,NaN,NaN,NaN
49,NaT,NaT,Tipo de evento,Valor total,Nº de Pessoas,Observação
56,NaT,NaT,Tipo de evento,Valor total,Nº de Pessoas,Observação
59,NaT,2019-01-15,NaN,NaN,NaN,"enviou email para o kpp e acredito que seja para mais de 30 convidados, enviei apresentação TH"
63,NaT,NaT,NaN,NaN,30,enviado menus e proposta de locação do espaço dia 28/01
69,NaT,NaT,casamento,NaN,120,não fechou pelo número de pessoas 100/120
73,NaT,2018-09-05,coquetel,NaN,70,"queriam parceria para coquetel de lançamento de um livro, porém queriam estilo pub com venda de pratos, bebidas, onde cada um pagasse o seu."
86,NaT,NaT,empresarial,NaN,60,não farão maias em dezembro devido vários colegas não conseguirem comparecerem

In [19]:
# Preenchendo valores nulos
df_antigo['data_contato'] = df_antigo['data_contato'].fillna(df_antigo.data_evento)
df_antigo['tipo'] = df_antigo['tipo'].fillna('Não informado')
df_antigo['valor_total'] = df_antigo['valor_total'].fillna(0)
df_antigo['num_convidados'] = df_antigo['num_convidados'].fillna(0)
df_antigo['observação'] = df_antigo['observação'].fillna('Sem observação')

In [20]:
# drop nas linhas que sobraram nulas
df_antigo.dropna(inplace=True)

In [21]:
# função filter
# filter(lambda item: item[] expression, iterable)

In [22]:
# transformando em string utilizando função lambda e metodo astype()
# df['Data do Evento'] = df['Data do Evento'].applay(lambda x: str(x)) 
# df_antigo['data_evento'] = df_antigo['data_evento'].astype('str')

In [23]:
# Utiliza função filter para descobrir elementos que não eram datas na serie
# filtro = list(filter(lambda x: x[0] not in '2', df_antigo['data_evento']))

In [24]:
# df_antigo['data_evento'] = df_antigo['data_evento'].replace('fevereiro', '2017-01-01')
# df_antigo['data_evento'] = df_antigo['data_evento'].replace('16/06 ou 30/06', '2017-01-01')
# df_antigo['data_evento'] = df_antigo['data_evento'].replace('07/12 ou 14/12', '2017-01-01')
# df_antigo['data_evento'] = df_antigo['data_evento'].replace('sem data', '2017-01-01')

In [25]:
df_antigo['num_convidados'] = df_antigo['num_convidados'].replace('60 a 80', '70')

In [26]:
df_antigo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 0 to 91
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     66 non-null     datetime64[ns]
 1   data_contato    66 non-null     datetime64[ns]
 2   tipo            66 non-null     object
 3   valor_total     66 non-null     object
 4   num_convidados  66 non-null     object
 5   observação      66 non-null     object
dtypes: datetime64[ns](2), object(4)
memory usage: 3.6+ KB

In [27]:
# organizando o indice
df_antigo.reset_index(drop=True, inplace=True)

In [28]:
# salva dataframe
df_antigo.to_excel('df_2018_limpo.xlsx', index= False)

### Organizar coluna nº pessoas

In [29]:
# Gravando um novo dataframe
df_limpo = pd.read_excel('df_2018_limpo.xlsx')

In [30]:
df_limpo.head(3)

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
0,2018-06-12,2018-06-12,1º evento,21450.4,78 pessoas,1 mesa de 8 lugares+ 5 mesas de 4 lugares + 25 mesas de 2 lugares
1,2018-07-12,2018-07-12,empresarial,4631.0,25 pessoas,"cardapio Krab KPP R$ 175,00 por pessoa c/ espumante (1 garrafa a cada 3 pessoas)"
2,2018-07-19,2018-07-19,empresarial,12100.0,55 pessoas,"Menu Koh Paghan Finger R$ 185,00 e Pct bebidas Mali com drink Tom Yam Siam. Degustação 29/05."

In [31]:
# Faz a separação da coluna pelo primeiro item
df_limpo['num_convidados'] = df_limpo['num_convidados'].str.split().str[0]

In [32]:
# ver linhas número de convidadsos com dados nulos
df_limpo[df_limpo['num_convidados'].isna()].head(2)

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
35,2019-02-08,2019-02-08,formatura,16115.0,NaN,"69 adultos (R$14.145,00) + 2 crianças que pagam meia (R$ 205,00) + 300,00 de 2 garçons extras.= R$ 14.650,00 (R$ Menu Koh Samet Finger R$ 160,00 + Pct bebida Kulap R$ 45,00). pago R$ 5.625,00 transferência dia 28/09 e pago R$ 9.025,00 dia 01/02 por ted + 1 hora adicional R$ 1.465,00 a ser paga."
36,2019-02-09,2019-02-09,casamento,7762.5,NaN,"37 convidados + 1 criança (,metade) R$ 102,50+ 3 staff (25,00 cada = R$ 75,00)Efetuou o pagamento dia 16/01 no valor de R$ 4.100,00 e o restante pagou dia 07/02 valor de R$ 3.662,50"

In [33]:
# Preenche NaN com 0
df_limpo['num_convidados'] = df_limpo['num_convidados'].fillna(0)

In [34]:
# Limpar ruídos do split
df_limpo['num_convidados'] = df_limpo.num_convidados.replace('\n', '')

In [35]:
# Transforma type colunas
df_limpo.valor_total = pd.to_numeric(df_limpo.valor_total, errors='coerce')
df_limpo.num_convidados = pd.to_numeric(df_limpo.num_convidados, errors='coerce')

In [36]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     66 non-null     datetime64[ns]
 1   data_contato    66 non-null     datetime64[ns]
 2   tipo            66 non-null     object
 3   valor_total     66 non-null     float64
 4   num_convidados  65 non-null     float64
 5   observação      66 non-null     object
dtypes: datetime64[ns](2), float64(2), object(2)
memory usage: 3.2+ KB

In [37]:
# Identifocando linha convidados com nulo
df_limpo[df_limpo['num_convidados'].isna()]

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
44,2019-02-26,2019-01-24,Não informado,0.0,NaN,Passado todos menus via e-mail e solicitado telefone para obter mais informações sobre o evento.

In [38]:
df_limpo.loc[44, 'num_convidados'] = 25

In [39]:
df_limpo.iloc[44]

data_evento                                     2019-02-26 00:00:00
data_contato                                    2019-01-24 00:00:00
tipo                                                  Não informado
valor_total                                                     0.0
num_convidados                                                 25.0
observação        Passado todos menus via e-mail e solicitado te...
Name: 44, dtype: object

In [40]:
# identificando discrepâncias
df_limpo.iloc[[0, 4, 15, 37, 41]]

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
0,2018-06-12,2018-06-12,1º evento,21450.4,78.0,1 mesa de 8 lugares+ 5 mesas de 4 lugares + 25 mesas de 2 lugares
4,2018-08-21,2018-08-21,empresarial,14125.0,70.0,"Menu Krab KPP R$ 195,00 por pessoa com refri c/ vinho (1 garrafa a cada 3 pessoas) + 5 vinhos extras no valor total de R$ 475,00"
15,2018-10-16,2018-10-16,coquetl fome,0.0,72.0,Sem observação
37,2019-02-26,2019-02-26,Jantar nikkei,9750.0,0.0,"R$ 195,00 x 50 pesoas= R$ 9.750,00 Previsão"
41,2019-03-21,2019-01-11,Laboratorio,0.0,0.0,enviamos fotos e cardapio empresarial / esta em definição

In [41]:
# Coluna convidados como inteiro
df_limpo['num_convidados'] = df_limpo.num_convidados.astype('int8')

In [42]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     66 non-null     datetime64[ns]
 1   data_contato    66 non-null     datetime64[ns]
 2   tipo            66 non-null     object
 3   valor_total     66 non-null     float64
 4   num_convidados  66 non-null     int8
 5   observação      66 non-null     object
dtypes: datetime64[ns](2), float64(1), int8(1), object(2)
memory usage: 2.8+ KB

In [43]:
df_antigo.to_excel('df_pronto_2018.xlsx', index= False)

## Planilha março

In [44]:
df_mar = pd.read_excel(caminho, sheet_name = 'março', header= 4)

In [45]:
df_mar

,Data do Evento,Data do contato,Tipo de evento,Valor total,Nº de Pessoas,Observação
0,2022-03-15,2022-01-04,jantar/palestra,?,80,"Ela está estudando locais em todo o território nacional .CANCELOU, OUTRO ESTADO FOI ESCOLHIDO."
1,2022-03-26,2022-03-08,Formatura,A definir,80/100,"Encaminhei as opções de cardapio, a cliente vai estudar e voltaremos a conversar.Retornei a ligação hoje 14/03. A cliente vai fazer uma confraternização na sua casa, em outra oportunidade fará consoco."

### Organizando colunas

In [46]:
df_mar.columns = df_mar.columns.str.lower().str.replace(' ', '_')

In [47]:
df_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_do_evento   2 non-null      datetime64[ns]
 1   data_do_contato  2 non-null      datetime64[ns]
 2   tipo_de_evento   2 non-null      object
 3   valor_total      2 non-null      object
 4   nº_de_pessoas    2 non-null      object
 5   observação       2 non-null      object
dtypes: datetime64[ns](2), object(4)
memory usage: 224.0+ bytes

In [48]:
df_mar.rename(columns={
    'data_do_evento': 'data_evento',
    'data_do_contato': 'data_contato',
    'tipo_de_evento': 'tipo',
    'cliente': 'cliente',
    'contato': 'contato', 
    'valor_total': 'valor_total',
    'nº_de_pessoas': 'num_convidados',
    'observação': 'observação'}, inplace=True)

In [49]:
df_mar.columns

Index(['data_evento', 'data_contato', 'tipo', 'valor_total', 'num_convidados',
       'observação'],
      dtype='object')

In [50]:
df_mar.valor_total.replace('?', '0', inplace = True)
df_mar.valor_total.replace('A definir ', '0', inplace= True)
df_mar.num_convidados.replace('80/100', '90', inplace= True)

In [51]:
df_mar

,data_evento,data_contato,tipo,valor_total,num_convidados,observação
0,2022-03-15,2022-01-04,jantar/palestra,0,80,"Ela está estudando locais em todo o território nacional .CANCELOU, OUTRO ESTADO FOI ESCOLHIDO."
1,2022-03-26,2022-03-08,Formatura,0,90,"Encaminhei as opções de cardapio, a cliente vai estudar e voltaremos a conversar.Retornei a ligação hoje 14/03. A cliente vai fazer uma confraternização na sua casa, em outra oportunidade fará consoco."

In [52]:
df_mar['valor_total'] = df_mar['valor_total'].astype('int32')
df_mar['num_convidados'] = df_mar.num_convidados.astype('int8')

In [53]:
df_mar.shape

(2, 6)

In [54]:
df_limpo.shape

(66, 6)

## Planilha Abril

In [55]:
# Nome das colunas
col_padrao = {
    "data_contato": "data_contato",
    "etapa": "etapa",
    "situação": "situação",
    "data_evento": "data_evento",
    "tipo": "tipo",
    "cliente": "cliente",
    "contato": "contato",
    "convidados": "num_convidados",
    "cardápio": "cardápio",
    "preço": "preço",
    "sinal": "sinal",
    "valor_total": "valor_total",
    "saldo_restante": "saldo_restante",
    "valor_extra": "valor_extra",
    "forma_de_pagamento": "forma_pag",
    "observação": "observação"}

# Tratando colunas
def colunas_lower_replace(x):
    x.columns = x.columns.str.lower().str.replace(' ', '_')
    x.rename(columns = col_padrao, inplace = True)
    return

In [56]:
df_abr = pd.read_excel(caminho, sheet_name = 'abril')

In [57]:
df_abr.columns

Index(['Data contato', 'Etapa', 'Situação', 'Data Evento', 'Tipo',
       'Convidados', 'Cardápio', 'Preço', 'Sinal', 'Valor total',
       'Saldo restante', 'Valor Extra', 'Forma de pagamento', 'Observação'],
      dtype='object')

In [58]:
colunas_lower_replace(df_abr)

In [59]:
df_abr.head(1)

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df_abr.shape

(10, 14)

In [61]:
df_abr.head(3)

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-09 00:00:00,Realizado,Realizado,2022-04-11,NaN,40.0,NaN,220.0,1200.0,9787.0,8587.0,987.0,NaN,"Fez uma pré-reserva, quer serviço desde a entrada dos convidados, e-mail da Zaniratti e Connecto, fotos do local. Menu Krab Transferiu o valor do sinal, 24/02. A cliente vai fazer duas locações de um audio, um pupito. Entrega do material as 16 horas, material locado pelo cliente. Evento fechado."
2,2022-04-09 00:00:00,Realizado,Realizado,2022-04-28,NaN,30.0,NaN,230.0,NaN,6900.0,6900.0,NaN,NaN,"Aula ao vivo, vai precisar de aparelhos de aúdio e som em espaço RESERVADO."

### organizando os NaN

In [62]:
df_abr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    10 non-null     object
 1   etapa           7 non-null      object
 2   situação        7 non-null      object
 3   data_evento     6 non-null      datetime64[ns]
 4   tipo            5 non-null      object
 5   num_convidados  7 non-null      float64
 6   cardápio        0 non-null      float64
 7   preço           3 non-null      float64
 8   sinal           1 non-null      float64
 9   valor_total     7 non-null      float64
 10  saldo_restante  7 non-null      float64
 11  valor_extra     1 non-null      float64
 12  forma_pag       0 non-null      float64
 13  observação      7 non-null      object
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 1.2+ KB

In [63]:
df_abr['data_contato'] = pd.to_datetime(df_abr['data_contato'], errors= 'coerce')

In [64]:
df_abr.dropna(how='all', inplace=True)

In [65]:
# preencher coluna cardápio nan com não informado
df_abr['cardápio'] = df_abr.cardápio.fillna('Não informado')
df_abr['tipo'] = df_abr.tipo.fillna('Não informado')
df_abr['forma_pag'] = df_abr.forma_pag.fillna('Não informado')

In [66]:
# valores numéricos preenchidos com 0
df_abr[['num_convidados', 'preço', 'sinal', 'valor_total', 'saldo_restante', 'valor_extra']] = df_abr[['num_convidados', 'preço', 'sinal', 'valor_total', 'saldo_restante', 'valor_extra']].fillna(0)

In [67]:
df_abr['num_convidados'] = df_abr['num_convidados'].astype('int8')

In [68]:
df_abr[['cardápio', 'forma_pag']] = df_abr[['cardápio', 'forma_pag']].astype('str')

In [69]:
df_abr

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
1,2022-02-09,Realizado,Realizado,2022-04-11,Não informado,40,Não informado,220.0,1200.0,9787.0,8587.0,987.0,Não informado,"Fez uma pré-reserva, quer serviço desde a entrada dos convidados, e-mail da Zaniratti e Connecto, fotos do local. Menu Krab Transferiu o valor do sinal, 24/02. A cliente vai fazer duas locações de um audio, um pupito. Entrega do material as 16 horas, material locado pelo cliente. Evento fechado."
2,2022-04-09,Realizado,Realizado,2022-04-28,Não informado,30,Não informado,230.0,0.0,6900.0,6900.0,0.0,Não informado,"Aula ao vivo, vai precisar de aparelhos de aúdio e som em espaço RESERVADO."
4,2022-04-17,Em negociação,Em negociação a data esta sendo estudada,NaT,Jantar/palestra,30,Não informado,230.0,0.0,6900.0,6900.0,0.0,Não informado,"Quantidade de pessoas:\n 30 pax não fecharam a data ainda, mas será em uma quinta ou terça as 19 até as 22 horas.\nFormato aula com palestrante, precisam de mesa redonda em formato Lua, e para apresentação com projeção.\nIremos filmar a aula, por isso, precisamos de espaço para 2 câmeras e uma mesa com computador.\n\nPrever no custo o equipamento de projeção e de captação de imagem, bem como as equipes técnicas necessárias. Sugeri fazermos em outro formato em L o jantar, ou mesas de seis lugares e com a possibilidade da apresentação ser no segundo piso em formato auditório. O cliente vai analisar junto a equipe. \n"
6,2022-04-13,Não fechado,Não realizado,2022-03-22,Finger /coquetel,50,Não informado,0.0,0.0,0.0,0.0,0.0,Não informado,"Welcome drink, com vinhos e espumante, um sommelier, uma recepcionsita na recepção com lista e banner . \nJantar sala reservada. O cliente precisa que a montagem das mesas fosse em linha, 50 convidados.\nOfereci em U e L que de qualquer forma seria possivél atender as necessidades do cliente.\nMas não aceitou, precisa que tenha este formato."
7,2022-04-27,Não fechado,Não realizado,2022-03-17,jantar/aula novas especialidades,90,Não informado,0.0,0.0,0.0,0.0,0.0,Não informado,"Servir finger foods, nada de empratados. Os convidados podem ficar em pé, mas também é importante alguns espaços para sentar e algumas mesas que sirvam de apoio durante o coquetel. Resoveram ficar em Gramado, e seu proximo evento será conosco."
8,2022-04-07,Não fechado,Não realizado,2022-04-07,Jantar com palestra,90,Não informado,0.0,0.0,0.0,0.0,0.0,Não informado,"Mesas redondas, com toalhas,com disponibilidetotal.\nPrecisa que todos os convidados fiquem na mesma sala, e a apresentação da mesma forma. \nespaço fisico para este formato, será uma apresentaçãocom aula médica com equipamentos de áudio visual .\nPrato Principal (considerar uma opção vegetariana)\nSobremesa,Bebidas: pacote de bebidas não alcoolicas (água, suco e refrigerante) por 02 horas + vinho e cerveja ao consumo (enviar menu completo com rótulos e valores). Minha sugestão ao cliente seria utilizarmos os dois anbientes da casa, assim seria possivél atendermos ao evento, com certeza. Mas infelizmente o cliente não aceitou a proposta\n"
9,2022-04-28,Não fechado,Não realizado,2022-04-16,Jantar,75,Não informado,0.0,0.0,0.0,0.0,0.0,Não informado,Precisam de uma sala que acomode todos os convidados e um auditorio para a apresentação do evento.\nSugeri dividirmos em duas salas e a apresentação fazermos no mesmo espaço.\nMas o cliente não quer neste formato.\n Vou enviar fotos e materila da casa Thai House para proximos eventos.

In [70]:
df_abr[df_abr.data_evento.isnull()]

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
4,2022-04-17,Em negociação,Em negociação a data esta sendo estudada,NaT,Jantar/palestra,30,Não informado,230.0,0.0,6900.0,6900.0,0.0,Não informado,"Quantidade de pessoas:\n 30 pax não fecharam a data ainda, mas será em uma quinta ou terça as 19 até as 22 horas.\nFormato aula com palestrante, precisam de mesa redonda em formato Lua, e para apresentação com projeção.\nIremos filmar a aula, por isso, precisamos de espaço para 2 câmeras e uma mesa com computador.\n\nPrever no custo o equipamento de projeção e de captação de imagem, bem como as equipes técnicas necessárias. Sugeri fazermos em outro formato em L o jantar, ou mesas de seis lugares e com a possibilidade da apresentação ser no segundo piso em formato auditório. O cliente vai analisar junto a equipe. \n"

In [71]:
df_abr.data_evento.fillna(df_abr.data_contato, inplace=True)

In [72]:
df_abr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 1 to 9
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    7 non-null      datetime64[ns]
 1   etapa           7 non-null      object
 2   situação        7 non-null      object
 3   data_evento     7 non-null      datetime64[ns]
 4   tipo            7 non-null      object
 5   num_convidados  7 non-null      int8
 6   cardápio        7 non-null      object
 7   preço           7 non-null      float64
 8   sinal           7 non-null      float64
 9   valor_total     7 non-null      float64
 10  saldo_restante  7 non-null      float64
 11  valor_extra     7 non-null      float64
 12  forma_pag       7 non-null      object
 13  observação      7 non-null      object
dtypes: datetime64[ns](2), float64(5), int8(1), object(6)
memory usage: 791.0+ bytes

## Planilha Maio

In [73]:
df_mai = pd.read_excel(caminho, sheet_name = 'maio')

In [74]:
# Tratando colunas
colunas_lower_replace(df_mai)

In [75]:
df_mai.head()

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-17 00:00:00,Realizado,Realizado,2022-05-11,Almoço,40.0,Menu Phuket,220.0,2415.0,9066.8,6651.8,266.8,Entrada/ restante faturado 22/05,"Almoço inicio as 12:00 horas, mesas de seis e oito lugares,uma palestra em formato auditório com os convidados todos de frente. Necessita de telão, projetor( Passei contato da Zaniratti). Mas iremos disponibilizar os equipamentos. Gostaria de estacionamento com manobrista. Sem bebida alcoolica"
2,2022-05-14 00:00:00,Realizado,Realizado,2022-05-19,Jantar/Palestra,30.0,Menu Phuket,255.0,NaN,7650.0,7650,NaN,Cartão de crédito final do evento,"Jantar com palestra, o cliente solicitou equipamentos de Projetor e telão."
3,NaN,Realizado,Realizado,2022-05-26,Jantar,25.0,Menu Krab,220.0,NaN,5500.0,,NaN,Cartão de creditofinal do evento,"Jantar para 25 pessoas, três dias antes do evento será informado se haverá mais pessoas. Equipamentos solicitados: projetor , telão.\n Estacionamento para 25 convidados.\nO cliente necessita de uma prato vegetariano."
4,2022-04-19 00:00:00,Realizado,Fechado,2022-05-28,Welcome coffee/almoço,51.0,Wellcome Coffee\nMenu Krab,250.0,NaN,12750.0,12750,NaN,,"Welcome coffeee às 10:00horas, as 10:30horas sala privativa para aula,às 12:00horas o almoço deverá ser servido na mesma sala da apresentação aula.\nNa apresentação aula, cliente solicitou que forneçamos água para os convidados. \nEquipamentos fornecidos pela contratada: Tela, projetor, sonorização, Internet.\nNão dispomos de um profissional técnico. \n"

In [76]:
df_mai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    10 non-null     object
 1   etapa           8 non-null      object
 2   situação        8 non-null      object
 3   data_evento     8 non-null      datetime64[ns]
 4   tipo            8 non-null      object
 5   num_convidados  8 non-null      float64
 6   cardápio        6 non-null      object
 7   preço           7 non-null      float64
 8   sinal           1 non-null      float64
 9   valor_total     9 non-null      float64
 10  saldo_restante  9 non-null      object
 11  valor_extra     1 non-null      float64
 12  forma_pag       6 non-null      object
 13  observação      8 non-null      object
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 1.9+ KB

In [77]:
df_mai.loc[7, 'data_contato'] = df_mai.loc[7, 'data_evento']

In [78]:
df_mai.iloc[[0, 5, 7, 8]]

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df_mai['data_contato'] = pd.to_datetime(df_mai['data_contato'], errors= 'coerce')

In [80]:
df_mai.dropna(how='all', inplace=True)

In [81]:
def data_contatos(x):
    ''' Descobrir o indice dos eventos'''
    l = []
    for i, k in enumerate(x['data_contato']):
        if k in l:
            l.append(i, k)
        print(f'{i} {k}')

In [82]:
data_contatos(df_mai)

0 2022-04-17 00:00:00
1 2022-05-14 00:00:00
2 NaT
3 2022-04-19 00:00:00
4 2022-04-25 00:00:00
5 NaT
6 2022-04-20 00:00:00
7 2022-04-29 00:00:00
8 2022-05-05 00:00:00

In [83]:
df_mai[['tipo', 'situação', 'cardápio', 'forma_pag']] = df_mai[['tipo', 'situação', 'cardápio', 'forma_pag']].fillna('não informado')

In [84]:
df_mai[['sinal', 'preço', 'valor_total', 'saldo_restante', 'valor_extra']] = df_mai[['sinal', 'preço', 'valor_total', 'saldo_restante', 'valor_extra']].fillna(0)

In [85]:
df_mai.dropna(how='all', inplace=True)

In [86]:
df_mai[df_mai.data_contato.isnull()]

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
3,NaT,Realizado,Realizado,2022-05-26,Jantar,25.0,Menu Krab,220.0,0.0,5500.0,,0.0,Cartão de creditofinal do evento,"Jantar para 25 pessoas, três dias antes do evento será informado se haverá mais pessoas. Equipamentos solicitados: projetor , telão.\n Estacionamento para 25 convidados.\nO cliente necessita de uma prato vegetariano."
11,NaT,NaN,não informado,NaT,não informado,NaN,não informado,0.0,0.0,0.0,0,0.0,não informado,NaN

In [87]:
df_mai.data_contato.fillna(df_mai.data_evento, inplace=True)

In [88]:
df_mai.dropna(inplace=True)

In [89]:
df_mai.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 1 to 15
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    8 non-null      datetime64[ns]
 1   etapa           8 non-null      object
 2   situação        8 non-null      object
 3   data_evento     8 non-null      datetime64[ns]
 4   tipo            8 non-null      object
 5   num_convidados  8 non-null      float64
 6   cardápio        8 non-null      object
 7   preço           8 non-null      float64
 8   sinal           8 non-null      float64
 9   valor_total     8 non-null      float64
 10  saldo_restante  8 non-null      object
 11  valor_extra     8 non-null      float64
 12  forma_pag       8 non-null      object
 13  observação      8 non-null      object
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 960.0+ bytes

## Planilha Junho

In [90]:
df_jun = pd.read_excel(caminho, sheet_name = 'junho')

In [91]:
colunas_lower_replace(df_jun)

In [92]:
df_jun.head()

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-13 00:00:00,Fechado,NaN,2022-06-08,Jantar/Palestra,20.0,Menu Krab,225.0,NaN,4500.0,4500.0,NaN,Pagamento será com cartão no final do evento.,"Jantar com uma palestra médica. Será formalizado em contrato sobre 20 pessoas, seis dias que antecedem o evento será confirmado se haverá excedentes.O cliente necessita de equipamentos de audio e som."
2,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-29 00:00:00,Fechado,NaN,2022-06-21,Jantar/Palestra,30.0,Menu Krab,225.0,NaN,6750.0,6750.0,NaN,O pagamento será faturado em 17 de Junho valor total do evento.,Contrato fechado para 30 pessoas. Ficou conbinado que até cinco dias antes do evento se haverá excedentes. Palestra com duas aulas médicas.\nOs equipamentos serão locados (tereceirizado).
4,2022-05-26 00:00:00,Fechado,NaN,2022-06-28,Jantar/Palestra,20.0,Menu Phuket,250.0,NaN,5000.0,5000.0,NaN,O pagamento será com cartão de crédito no final do do evento.,"Jantar com palestra, cliente necessita de equipamentos de audio e som."

In [93]:
df_jun['data_contato'] = pd.to_datetime(df_jun['data_contato'], errors= 'coerce')

In [94]:
data_contatos(df_jun)

0 NaT
1 2022-05-13 00:00:00
2 NaT
3 2022-04-29 00:00:00
4 2022-05-26 00:00:00
5 NaT
6 NaT
7 NaT
8 NaT
9 NaT
10 2022-04-27 00:00:00
11 2022-05-04 00:00:00
12 NaT
13 2022-01-24 00:00:00
14 2022-04-25 00:00:00
15 2022-05-20 00:00:00
16 2022-05-19 00:00:00
17 NaT
18 NaT

In [95]:
df_jun = df_jun.dropna(how= 'all')

In [98]:
df_jun.loc[ :, ['situação', 'tipo', 'cardápio','forma_pag', 'observação']] = df_jun.loc[:, ['situação', 'tipo', 'cardápio','forma_pag', 'observação']].fillna('Não informado')

In [100]:
# valores numéricos preenchidos com 0
df_jun[['num_convidados', 'preço', 'sinal', 'valor_total', 'saldo_restante', 'valor_extra']] = df_jun[['num_convidados', 'preço', 'sinal', 'valor_total', 'saldo_restante', 'valor_extra']].fillna(0)

In [101]:
df_jun = df_jun.dropna()

In [102]:
df_jun.shape

(8, 14)

In [103]:
df_jun.columns

Index(['data_contato', 'etapa', 'situação', 'data_evento', 'tipo',
       'num_convidados', 'cardápio', 'preço', 'sinal', 'valor_total',
       'saldo_restante', 'valor_extra', 'forma_pag', 'observação'],
      dtype='object')

In [104]:
df_jun.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 1 to 16
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    8 non-null      datetime64[ns]
 1   etapa           8 non-null      object
 2   situação        8 non-null      object
 3   data_evento     8 non-null      datetime64[ns]
 4   tipo            8 non-null      object
 5   num_convidados  8 non-null      float64
 6   cardápio        8 non-null      object
 7   preço           8 non-null      float64
 8   sinal           8 non-null      float64
 9   valor_total     8 non-null      float64
 10  saldo_restante  8 non-null      float64
 11  valor_extra     8 non-null      float64
 12  forma_pag       8 non-null      object
 13  observação      8 non-null      object
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 960.0+ bytes

## Planilha Julho

In [105]:
df_jul = pd.read_excel(caminho, sheet_name = 'julho')

In [106]:
colunas_lower_replace(df_jul)

In [107]:
data_contatos(df_jul)

0 EVENTOS FECHADOS
1 2022-05-26 00:00:00
2 2022-05-18 00:00:00
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 EVENTOS EM NEGOCIAÇÃO
10 2022-06-01 00:00:00
11 2022-06-03 00:00:00
12 nan
13 nan
14 EVENTOS NÃO FECHADOS
15 2022-05-16 00:00:00
16 2022-05-12 00:00:00
17 2022-05-20 00:00:00
18 nan
19 nan
20 nan

In [108]:
df_jul.iloc[:25]

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-26 00:00:00,Fechado,Aguadando assinatura contrato,2022-07-28,Jantar/Palestra,20.0,Menu Phuket,255.0,NaN,5100.0,5100.0,NaN,Cartão de credito Amex no final do evento,"Jantar para 20 pessoas, aula com palestra.\n Equipamentos solicitados: Projetor , aúdio e som.\n Vinhos definidos pelo cliente: Sauvignon Blanc e Cabernet. \n Será confirmado excedentes, cinco dias antes do evento.\n"
2,2022-05-18 00:00:00,Fechado,Aguadando assinatura contrato,2022-07-21,Jantar/Palestra,25.0,Menu Krab,225.0,NaN,5625.0,5625.0,NaN,Cartão de credito no final do evento,"Evento para 25 pessoas, formato ideal em círculo ou U palestra."
3,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2022-05-12 00:00:00,Não fechado,Aguadando retorno do cliente até segunda feira dia 23/5,2022-07-06,Aniversário,40.0,A definir,NaN,NaN,0.0,0.0,NaN,NaN,Jantar Aniversário
17,2022-05-20 00:00:00,Não fechado,na proxima semana terá uma definição,2022-07-07,Jantar/Palestra,30.0,A definir,NaN,NaN,0.0,0.0,NaN,NaN,Jantar com uma palestra para 30 pessoas.\nNecessita de equipamentod e aúdio e som.
18,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
19,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
20,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [109]:
df_jul['data_contato'] = pd.to_datetime(df_jul['data_contato'], errors= 'coerce')
df_jul['data_evento'] = pd.to_datetime(df_jul['data_evento'], errors= 'coerce')

In [110]:
df_jul = df_jul.dropna(how= 'all')

In [113]:
df_jul[['situação', 'tipo', 'cardápio','forma_pag', 'observação']] = df_jul[['situação', 'tipo', 'cardápio','forma_pag', 'observação']].fillna('Não informado')

In [114]:
df_jul[['num_convidados', 'preço', 'sinal','valor_total','saldo_restante','valor_extra']] = df_jul.loc[: , ['num_convidados', 'preço', 'sinal','valor_total','saldo_restante','valor_extra']].fillna(0)

In [115]:
df_jul.loc[8:10]

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_total,saldo_restante,valor_extra,forma_pag,observação
8,NaT,NaN,Não informado,NaT,Não informado,0.0,Não informado,0.0,0.0,0.0,0.0,0.0,Não informado,Não informado
10,2022-06-01,Em negociação,Não informado,2022-07-26,Não informado,50.0,A definir,0.0,0.0,0.0,0.0,0.0,Não informado,"Não me passou dados do evento ainda, mas já fez eventos conosco, e assim que possível me envia as necessidades do evento e fechamos contrato."

In [116]:
df_jul = df_jul.dropna()

In [117]:
data_contatos(df_jul)

0 2022-05-26 00:00:00
1 2022-05-18 00:00:00
2 2022-06-01 00:00:00
3 2022-06-03 00:00:00
4 2022-05-16 00:00:00
5 2022-05-12 00:00:00
6 2022-05-20 00:00:00

In [118]:
df_jul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 1 to 17
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    7 non-null      datetime64[ns]
 1   etapa           7 non-null      object
 2   situação        7 non-null      object
 3   data_evento     7 non-null      datetime64[ns]
 4   tipo            7 non-null      object
 5   num_convidados  7 non-null      float64
 6   cardápio        7 non-null      object
 7   preço           7 non-null      float64
 8   sinal           7 non-null      float64
 9   valor_total     7 non-null      float64
 10  saldo_restante  7 non-null      float64
 11  valor_extra     7 non-null      float64
 12  forma_pag       7 non-null      object
 13  observação      7 non-null      object
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 840.0+ bytes

In [119]:
df_jul.shape

(7, 14)

## Planilha Agosto

In [120]:
df_ago = pd.read_excel(caminho, sheet_name = 'agosto')

In [121]:
colunas_lower_replace(df_ago)

In [122]:
df_ago['data_contato'] = pd.to_datetime(df_ago['data_contato'], errors= 'coerce')
df_ago['data_evento'] = pd.to_datetime(df_ago['data_evento'], errors= 'coerce')

In [123]:
df_ago.dropna(how='all', inplace=True)

In [125]:
df_ago[['situação', 'tipo', 'cardápio','forma_pag', 'observação']] = df_ago[['situação', 'tipo', 'cardápio','forma_pag', 'observação']].fillna('Não informado')

In [126]:
df_ago[['num_convidados', 'preço', 'sinal','valor_total','saldo_restante','valor_extra']] = df_ago.loc[: , ['num_convidados', 'preço', 'sinal','valor_total','saldo_restante','valor_extra']].fillna(0)

In [127]:
data_contatos(df_ago)

0 NaT
1 NaT
2 NaT
3 NaT
4 NaT
5 NaT
6 NaT
7 NaT
8 2022-05-27 00:00:00
9 NaT
10 NaT
11 NaT
12 NaT
13 NaT
14 NaT
15 NaT
16 NaT
17 NaT
18 NaT
19 NaT

In [129]:
df_ago.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 22
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_contato    1 non-null      datetime64[ns]
 1   etapa           1 non-null      object
 2   situação        20 non-null     object
 3   data_evento     1 non-null      datetime64[ns]
 4   tipo            20 non-null     object
 5   num_convidados  20 non-null     float64
 6   cardápio        20 non-null     object
 7   preço           20 non-null     float64
 8   sinal           20 non-null     float64
 9   valor_total     20 non-null     float64
 10  saldo_restante  20 non-null     float64
 11  valor_extra     20 non-null     float64
 12  forma_pag       20 non-null     object
 13  observação      20 non-null     object
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 2.3+ KB

## Planilha Setembro

In [130]:
df_set = pd.read_excel(caminho, sheet_name = 'setembro')

In [131]:
colunas_lower_replace(df_set)

In [132]:
data_contatos(df_set)

0 EVENTOS FECHADOS
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 EVENTOS EM NEGOCIAÇÃO
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 EVENTOS NÃO FECHADOS
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan

## Planilha Outubro

In [133]:
df_out = pd.read_excel(caminho, sheet_name = 'outubro')

In [134]:
colunas_lower_replace(df_out)

In [135]:
data_contatos(df_out)

0 EVENTOS FECHADOS
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 EVENTOS EM NEGOCIAÇÃO
10 2022-05-27 00:00:00
11 nan
12 nan
13 nan
14 nan
15 nan
16 EVENTOS NÃO FECHADOS
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan

## Planilha Novembro

In [136]:
df_nov = pd.read_excel(caminho, sheet_name = 'novembro')

In [137]:
colunas_lower_replace(df_nov)

In [138]:
data_contatos(df_nov)

0 EVENTOS FECHADOS
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 EVENTOS EM NEGOCIAÇÃO
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 EVENTOS NÃO FECHADOS
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan

## Planilha Dezembro

In [139]:
df_dez = pd.read_excel(caminho, sheet_name = 'dezembro')

In [140]:
colunas_lower_replace(df_dez)

In [141]:
data_contatos(df_dez)

0 EVENTOS FECHADOS
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 EVENTOS EM NEGOCIAÇÃO
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 EVENTOS NÃO FECHADOS
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan

## Unindo os Dataframes

In [142]:
# Concatenando os dataframes

df_thai = pd.concat([df_limpo, df_mar, df_abr, df_mai, df_jun, df_jul, df_ago, df_set, df_out, df_nov, df_dez], ignore_index=True)

In [143]:
df_thai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     100 non-null    object
 1   data_contato    112 non-null    object
 2   tipo            119 non-null    object
 3   valor_total     198 non-null    float64
 4   num_convidados  119 non-null    float64
 5   observação      119 non-null    object
 6   etapa           32 non-null     object
 7   situação        51 non-null     object
 8   cardápio        51 non-null     object
 9   preço           50 non-null     float64
 10  sinal           50 non-null     float64
 11  saldo_restante  130 non-null    object
 12  valor_extra     50 non-null     float64
 13  forma_pag       50 non-null     object
dtypes: float64(5), object(9)
memory usage: 23.1+ KB

In [144]:
# Preenchendo valores nulos
df_thai[['situação', 'cardápio', 'forma_pag', 'etapa']] = df_thai[['situação', 'cardápio', 'forma_pag', 'etapa']].fillna('Não informado')
df_thai[['preço', 'sinal', 'saldo_restante', 'valor_extra']] = df_thai[['preço', 'sinal', 'saldo_restante', 'valor_extra']].fillna(0)
df_thai = df_thai.dropna()

In [145]:
df_thai.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 151
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     100 non-null    object
 1   data_contato    100 non-null    object
 2   tipo            100 non-null    object
 3   valor_total     100 non-null    float64
 4   num_convidados  100 non-null    float64
 5   observação      100 non-null    object
 6   etapa           100 non-null    object
 7   situação        100 non-null    object
 8   cardápio        100 non-null    object
 9   preço           100 non-null    float64
 10  sinal           100 non-null    float64
 11  saldo_restante  100 non-null    object
 12  valor_extra     100 non-null    float64
 13  forma_pag       100 non-null    object
dtypes: float64(5), object(9)
memory usage: 11.7+ KB

In [146]:
# df2 = df.apply(lambda x: x.astype(str).str.upper())

df_thai = df_thai.apply(lambda x: x.astype(str).str.strip().str.casefold().str.capitalize())

In [147]:
df_thai.etapa.unique()

array(['Não informado', 'Realizado', 'Em negociação', 'Não fechado',
       'Fechado'], dtype=object)

In [148]:
df_thai.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 151
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_evento     100 non-null    object
 1   data_contato    100 non-null    object
 2   tipo            100 non-null    object
 3   valor_total     100 non-null    object
 4   num_convidados  100 non-null    object
 5   observação      100 non-null    object
 6   etapa           100 non-null    object
 7   situação        100 non-null    object
 8   cardápio        100 non-null    object
 9   preço           100 non-null    object
 10  sinal           100 non-null    object
 11  saldo_restante  100 non-null    object
 12  valor_extra     100 non-null    object
 13  forma_pag       100 non-null    object
dtypes: object(14)
memory usage: 11.7+ KB

In [149]:
# limpando espaços
for i, k in enumerate(df_thai):
    df_thai[k] = df_thai[k].str.strip()

In [150]:
df_thai[df_thai.valor_total.str.match('\n')] # regex para espaços em branco

Empty DataFrame
Columns: [data_evento, data_contato, tipo, valor_total, num_convidados, observação, etapa, situação, cardápio, preço, sinal, saldo_restante, valor_extra, forma_pag]
Index: []

In [151]:
df_thai

,data_evento,data_contato,tipo,valor_total,num_convidados,observação,etapa,situação,cardápio,preço,sinal,saldo_restante,valor_extra,forma_pag
0,2018-06-12 00:00:00,2018-06-12 00:00:00,1º evento,21450.4,78.0,1 mesa de 8 lugares+ 5 mesas de 4 lugares + 25 mesas de 2 lugares,Não informado,Não informado,Não informado,0.0,0.0,0,0.0,Não informado
1,2018-07-12 00:00:00,2018-07-12 00:00:00,Empresarial,4631.0,25.0,"Cardapio krab kpp r$ 175,00 por pessoa c/ espumante (1 garrafa a cada 3 pessoas)",Não informado,Não informado,Não informado,0.0,0.0,0,0.0,Não informado
2,2018-07-19 00:00:00,2018-07-19 00:00:00,Empresarial,12100.0,55.0,"Menu koh paghan finger r$ 185,00 e pct bebidas mali com drink tom yam siam. degustação 29/05.",Não informado,Não informado,Não informado,0.0,0.0,0,0.0,Não informado
3,2018-08-03 00:00:00,2018-08-03 00:00:00,Empresarial,7213.5,35.0,"Menu krab kpp r$ 195,00 por pessoa com refri c/ vinho (1 garrafa a cada 3 pessoas)",Não informado,Não informado,Não informado,0.0,0.0,0,0.0,Não informado
4,2018-08-21 00:00:00,2018-08-21 00:00:00,Empresarial,14125.0,70.0,"Menu krab kpp r$ 195,00 por pessoa com refri c/ vinho (1 garrafa a cada 3 pessoas) + 5 vinhos extras no valor total de r$ 475,00",Não informado,Não informado,Não informado,0.0,0.0,0,0.0,Não informado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-07-30 00:00:00,2022-05-16 00:00:00,Jantar/formatura,0.0,40.0,Jantar formatura da filha para 40 convidados.,Não fechado,"A filha prefere fazer no clube, com mais formandos.",A definir,0.0,0.0,0.0,0.0,Não informado
96,2022-07-06 00:00:00,2022-05-12 00:00:00,Aniversário,0.0,40.0,Jantar aniversário,Não fechado,Aguadando retorno do cliente até segunda feira dia 23/5,A definir,0.0,0.0,0.0,0.0,Não informado
97,2022-07-07 00:00:00,2022-05-20 00:00:00,Jantar/palestra,0.0,30.0,Jantar com uma palestra para 30 pessoas.\nnecessita de equipamentod e aúdio e som.,Não fechado,Na proxima semana terá uma definição,A definir,0.0,0.0,0.0,0.0,Não informado
106,2022-08-18 00:00:00,2022-05-27 00:00:00,Jantar,0.0,20.0,"Jantar com uma apresentação, cliente solicitou equipamento de aúdio e som.",Em negociação,Entrar em contato 25 dias para definição do evento.( pré reserva em agosto e outrubro),A definir,0.0,0.0,0.0,0.0,Não informado
151,2022-10-18 00:00:00,2022-05-27 00:00:00,Jantar com palestra,0.0,20.0,"Jantar com palestra, cliente solicitou equipamentos de aúdio e som",Em negociação,Entrar em contato 25 dias para definição do evento.(pré reserva em agosto e outubro),A definir,0.0,0.0,0.0,0.0,Não informado

In [152]:
df_thai['data_contato'] = pd.to_datetime(df_thai['data_contato'], errors='coerce')
df_thai['data_evento'] = pd.to_datetime(df_thai['data_evento'], errors='coerce')

In [153]:
df_thai.to_excel('df_thai.xlsx', index=False)

In [154]:
# # MÉTODO ITERROWS()
# for i, j in df_thai.iterrows():
#     print(i, j)
#     print()